h1
{
    text-align: center;
    color: white;
}
#login
{
    border-radius: 20px;
}
body
{
    background-image:url(images/fond.jpg);
}

#log
{
    margin-top:50px;
}
.card-body
{
    background-color: rgba(0, 0, 0, 0.418); 
}
.btn-dark
{
    background-color: rgba(0, 0, 0, 0.418);  
}
.navbar-expand-lg 
{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.418);
}
#logo
{
    width: 30%;
}
