@font-face {
    font-family: 'yo';

    src: url('font/yo.otf') format('truetype');

    font-weight: normal;
    font-style: normal;
    }
p
{
    color :white;
    text-align: center;
}
h1
{
    text-align: center;
    color: white;
}
#login
{
    border-radius: 20px;
}


#log
{
    margin-top:50px;
}
.card-body
{
    background-color: rgba(0, 0, 0, 0.418); 
}
#card_team
{
    background-color: rgba(0, 0, 0, 0);
}
.btn-dark
{
    background-color: rgba(0, 0, 0, 0.418);  
}
.btn-dark:hover {
    background: #e3431f;
    }
.navbar-expand-lg 
{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.418);
}
#logo
{
    width: 30%;
}
video#mavideo {
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    background-size: cover;
  }

#navbutton
{
    margin:auto;
}
#fond_home
{
    background-image: url(images/fond_home.png);
    background-size: 100%;
    background-position-y: -100px;
}
#nouv_partie{
    height:500px;
    background-color: rgba(0, 0, 0, 0.418);
    margin-top : 40px;
    margin-left: 10px;
    width:80%;
}
#nouv_partie2{
    background-color: rgba(0, 0, 0, 0.25);  
    width:100%;
}
#nouv_partie2_1{
    height:70%;

}
#progression{
    height:350px;
    background-color: rgba(0, 0, 0, 0.418);
    margin-top : 40px;   
    width:80%;
}
#progression2{
    height:56%;
    background-color: rgba(0, 0, 0, 0.25);  
    width:100%;
}
#scores{
    height:500px;
    background-color: rgba(0, 0, 0, 0.418);
    margin-top : 40px;
    width:80%;
    margin-right: 10px;
}
#team{
    background-color: rgba(0, 0, 0, 0.418);
    margin-top : 40px;   
    
}
#titre_aide
{
    margin-top : 40px;
    background-color: rgba(0, 0, 0, 0.418);
}
#titre_enigme
{
    margin-top : 40px;
    background-color: rgba(0, 0, 0, 0.418);
}
#nom_enigme
{
    margin-top:10px;
    font-family: yo;
}
#corps_enigme
{
    height: 400px;
    margin-top : 40px;
    background-color: rgba(0, 0, 0, 0.418);
}
#corps_aide
{
    height: 400px;
    margin-top : 40px;
    background-color: rgba(0, 0, 0, 0.418);
    
}

#fond_page
{width: 90%;
margin:auto;}
.titre_home
{
    color:#e3431f;
    font-size: 2em;
    margin-top:15px;
    font-family: yo;
}
#play
{
    background-color: #e3431f;
}

#input_team
{
    width: 100%;
}
    
.texte_nouv_part
{
    margin-top: 3%;
    margin-left : 5%;
    font-size: 130%;
    color : white;
}
hr
{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    color : #e3431f;
    background-color: #e3431f;
    border-block-end-color: #e3431f;
}
.texte_nouv_part_suit{
    color : #e3431f;
    font-size: 150%;
    margin-top : 12%;
}
#drum
{
    margin-top: 30px;
}

#part_act
{
    height:600px;
    background-color: rgba(0, 0, 0, 0.418);
    margin-top : 40px;   
    width:80%;
}
#part_act2
{
    height:450px;
    

    overflow:auto;
  

}

#rect_av
{
    height:100px;
    margin-top : 10px;   
    background-color: rgba(0, 0, 0, 0.418);
    width:80%;
}
#img
{
    margin: 4px;
    margin-top : 15px;
}
#rect_av_red
{
        height:100px;
    margin-top : 10px;   
    background-color: rgba(227, 67, 31, 1);
    width:80%;
}
#chat_user
{
    height:250px;
    margin-top : 10px;   
    overflow:auto;
    width:80%;
}
#message_user
{
    margin-top : 20px;
    overflow:auto;
    background-color: rgba(0, 0, 0, 0.418);
    border-radius: 10px;
}
#msg
{
    text-align:left;
    margin-top:10px;
    
}
.progress
{
    margin-top:5px;
}
#create_enigme
{
    color : white;
}
#partie_actu
{
    height: 600 px;
}
h2
{
    color : whitesmoke;
    margin-top : 10px;
}
#reprise
{
    font-size : 1.5em;
    margin-top: 20px;
}
#couleur_lien
{
    color: burlywood;
}
#envoyer_aide
{
    margin-left: 75px;
}
#description
{
    margin-top : 10px;
    font-size : 0.9em;
    text-align: center;
}
#end{
    height:400px;
    background-color: rgba(0, 0, 0, 0.418);
    margin-top : 40px;   
    
}
.infos
{
    font-size: 1.8em;
}
#classement
{
    background-color: rgba(0, 0, 0, 0.418);
    height : 50px;
}
#scores1
{
    background-color: rgba(0, 0, 0, 0.418);
    height : 50px;
}
#regles
{
    height:600px;
    background-color: rgba(0, 0, 0, 0.418);
    margin-top : 40px;   
}
#body_regles
{
    background-image: url(images/regles.jpg);
    background-size: 100%;
    width: 100%;

}
table
{
    
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
    color : white;


}
td
{
    width: 60px;
    text-align:center;
}

