
body{
    display: flex;
    background-color: whitesmoke;
   
    
}
#mavideo {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: cover;
  }
#opaq_blanc
{
    
    margin-top:10%;
    background-color: rgba(0, 0, 0, 0.418);    
    text-align: justify;
    text-align: center;
    padding-left: 7%;
}
.jumbotron
{
    height : 70%; width : 50%;
} 


p
{
    color:white;
    text-align : center;
    font-size: 120%;
    
}
h1
{
    font-family: Rockness;
    color : black;
    font-size : 5em;
}
.container
{
    width: 100%;
}
.btn-dark
{
    background-color: rgba(0, 0, 0, 0.418);  
}
#logo
{
    width: 100%;
}
