
body{
    display: flex;
    background-color: whitesmoke;
   
    
}
video#mavideo {
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    background-size: cover;
  }
#opaq_blanc
{
    
    margin-top:10%;
    background-color: rgba(0, 0, 0, 0.418);    
    text-align: justify;
    text-align: center;
    padding-left: 7%;
}
.jumbotron
{
    height : 70%; width : 50%;
} 


p
{
    color:white;
    text-align : center;
    font-size: 120%;
    
}

.container
{
    width: 100%;
}
.btn-dark
{
    background-color: rgba(0, 0, 0, 0.418);  
}
#logo
{
    width: 100%;
}
